/******** MEDIUM SCREENS **********/
@media (min-width: 768px) {

    label {
        font-size: 30px;
        line-height: 60px;
        margin-right: 30px;
        margin-top: 10px;
    }
    
    .navbar #logo {
        font-size: 30px;
        margin-left: 30px;
        float: left;
        margin-top: 22px;
        letter-spacing: 10px;
    }

    .navbar {
        padding-top: 15px;
    }
    
    .navbar a {
        font-size: 20px;
        text-decoration: none;
        color: rgb(253, 251, 251);
        line-height: 44px;
        letter-spacing: 3.5px;
        padding-right: 14%;
        text-shadow: 1px 1px 6px rgb(37, 37, 37);
    }

    .navbar li:first-child {
        padding-top: 20px;
    }

    .navbar li:last-child {
        padding-bottom: 20px;
    }

    .landingimg {
        width: 760px;
        min-height: 450px;
        background-repeat: no-repeat;
        clear: both;
        background-size: cover;
        background-position: top;
        position: absolute;
        top: 10%;
    }
}

/******** LARGE SCREENS **********/
@media (min-width: 992px) {

    .container {
        width: 960px;
    }
    .large-width-25 {
        width: 25%
    }

    .large-width-33 {
        width: 33.333%
    }

    .large-width-50 {
        width: 50%
    }

    .large-width-66 {
        width: 66.666%
    }

    .large-width-75 {
        width: 75%
    }

    .large-width-100 {
        width: 100%
    }


}