@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Caveat');

/********************************* LANDING PAGE *********************/

body {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

label {
    font-size: 25px;
    line-height: 55px;
    float: right;
    margin-right: 6%;
}

.navbar #logo {
    font-size: 25px;
    margin-left: 22px;
    float: left;
    margin-top: 10px;
    letter-spacing: 7px;
    text-shadow: none;
    font-weight: 600;
    color: black;
}

#toggle {
    display: none;
}

#toggle:checked + ul {
    display: block;
    clear: both;
    text-align: right;
    z-index: 100;
    position: absolute;
    top: 9%;
    width: 100%;
    background-color: rgba(134, 134, 134, 0.5);
    padding-bottom: 6px;
}

.navbar {
    width: 100%;
    padding-top: 10px;
}

.navbar a {
    font-size: 17px;
    text-decoration: none;
    color: rgb(253, 251, 251);
    line-height: 38px;
    letter-spacing: 3.5px;
    padding-right: 14%;
    text-shadow: 1px 1px 6px rgb(37, 37, 37);
}

.navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: none;
    font-weight: 900;
}

.navbar li:first-child {
    padding-top: 5px;
}
.navbar li:last-child {
    box-shadow: none;
}

.container {
    margin: auto;
    min-width: 375px;
}

.clearfix {
    clear: both;
}

.landingimg {
    background-image: url(assets/img1.jpg);
    width: 100%;
    min-height: 285px;
    background-repeat: no-repeat;
    clear: both;
    background-size: cover;
    background-position: top;
}

.landingimg p {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: #ffffff;
    position: relative;
    text-align: justify;
    top: -16px;
    left: 29px;
    letter-spacing: 1.2px;
    display: inline-block;
    line-height: 27px;
    padding: 10px;
    text-shadow: 2px 2px 8px #33523f;
}

.stillbox {
    border: 2px solid #f9fffb;
    position: absolute;
    top: 190px;
    height: 115px;
    width: 115px;
    left: 19%;
    text-shadow: 2px 2px 8px #33523f;
}

#rotate {
    transform: rotate(-15deg);
}

.clearbox {
    height: 335px;
}

.block-1 {
    padding-right: 0px;
    padding-top: 15px;
    padding-left: 15px;
    width: 345px;
}

.about, .aboutpar {
    display: inline-block;
}
.about {
    width: 15%;
}
.about .sidetext {
    width: 140px;
}
.about .sidetext h1 {
    font-size: 21px;
    transform: rotate(-90deg);
    position: absolute;
    left: -13%;
    top: 448px;
    letter-spacing: 2.5px;
}
.about svg {
    visibility: hidden;
}

.aboutpar {
    width: 70%;
    min-height: 250px;
    letter-spacing: 1.5px;
    line-height: 23px;
    margin-bottom: 20px;
    margin: 0px auto;
}

.aboutpar h1 {
    font-size: 22px;
    margin-bottom: 40px;
    margin-top: 35px;
}

.reslinkbox {
    padding-left: 44px;
}
.reslinkbox p {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 60px;
}

.reslinkbox a {
    background-color: #33523f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

.footerimg {
    background-image: url(assets/img7.jpg);
    height: 100px;
    clear: both;
    background-size: cover;
    background-position-y: -280px;
}

/********************************* MENU PAGE *********************/

.container2 {
    width: 100%;
    margin: 0 auto;
}

.pastaimg {
    background-image: url(assets/img13.jpg);
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    clear: both;
    background-size: cover;
    background-position: top;
    filter: brightness(108%);
}
.pizzaimg {
    background-image: url(assets/img12.jpg);
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    clear: both;
    margin-top: -20px;
    background-size: cover;
    background-position: bottom;
    filter: brightness(108%);
}
.secondiimg {
    background-image: url(assets/img14.jpg);
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    clear: both;
    background-size: cover;
    background-position: bottom;
    filter: brightness(100%);
}
.cocktailsimg {
    background-image: url(assets/img17.jpg);
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    clear: both;
    background-size: cover;
    background-position: right;
    filter: brightness(100%);
}

.menugrid {
    width: 90%;
    margin: 0px auto;
}

.menuitems {
    min-width: 300px;
    max-width: 420px;
    margin: 0px auto;
}

.pastaimg h1, .pizzaimg h1, .secondiimg h1, .cocktailsimg h1 {
    font-family: 'Caveat', cursive;
    color: white;
    font-weight: 900;
    font-size: 30px;
    text-align: right;
    right: 8%;
    top: 200px;
    letter-spacing: 5px;
    position: relative;
    text-shadow: 1px 2px 8px black;
}


.descriptions {
    font-family: 'Caveat', cursive;
    width: 85%;
    float: left;
    font-size: 16px;
    line-height: 20px;
}
.descriptions .different {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    letter-spacing: 3.2px;
}
.descriptions .bottom {
    margin-bottom: 27px;
    margin-top: -10px;
    font-size: 18px;
    padding-left: 13px;
    color: rgb(61, 61, 61);
    letter-spacing: 1.7px;
}

.descriptions .bottom:last-child {
    margin-bottom: 65px;
}


.prices {
    width: 15%;
    float: left;
    font-size: 16px;
    letter-spacing: 2.2px;
    line-height: 20px;
}

.prices p {
    padding-bottom: 57px;
    text-align: right;
}

.footerimg2 {
    background-image: url(assets/img15.jpg);
    height: 100px;
    clear: both;
    background-size: cover;
    background-position: center;
    filter: brightness(108%);
}