@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
body {
    margin: 0px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 1.3px;
}

.background {
    position: fixed;
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
}

label {
    font-size: 25px;
    line-height: 55px;
    display: inline-block;
    width: 45%;
    text-align: right;
    margin-right: 16px;
}

.logo {
    text-align: left;
    display: block;
    margin-left: 12%;
}


#toggle {
    display: none;
}

#toggle:checked + ul {
    display: block;
}

.navbar {
    width: 100%;
    background-color: rgb(252, 150, 133, .3);
    text-shadow: -3px 3px 7px rgb(167, 165, 165);
    padding-top: 10px;
}

.navbar a {
    font-size: 17px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    line-height: 38px;
}

.navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: none;
}

.navbar li:first-child {
    padding-top: 5px;
}
.navbar li:last-child {
    box-shadow: none;
    padding-bottom: 20px;
}

.imgcontainer{
    width: 100%;
    height: 100%;
    background-image: url(assets/img.jpg);
    background-position: left;
    background-size: cover;
}

.contentbackground {
    background-color: rgb(255, 255, 255, .6);
    width: 87%;
    margin: 0px auto;
    position: relative;
    top: 26px;
    padding-bottom: 20px;
}

.imgcontainer h1 {
    margin-top: 0px;
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.imgcontainer p {
    font-size: 15px;
    padding: 0px 22px;
    line-height: 22px;
}

@media(min-width: 768px) {
    .imgcontainer {
        width: 100%;
        margin: 0px auto;
        background-size: cover;
    }

    .logo {
        margin-right: -50px;
    }

    label {
        font-size: 30px;
        line-height: 55px;
        display: inline-block;
        width: 44%;
        text-align: right;
        margin-right: 5%;
    }

    .navbar {
        padding: 10px 5px 0px 0px;

    }

    .navbar a {
        font-size: 20px;
        line-height: 44px;
    }

}

@media(min-width: 992px) {
    label {
        visibility: hidden;
    }

    .logo {
        visibility: visible;
        display: center;
        position: relative;
        text-align: left;
        margin-top: 5px;
    }

    .navbar {
        padding: 0px;
        height: 70px;
    }

    #toggle:checked + ul {
        display: none;
    }

    .navbar ul {
        display: inline-block;
        width: 100%;
    }

    .navbar li {
        list-style: none;
        display: inline-block;
        padding: 20px;
        text-align: center;
        margin: auto 0px;
        position: relative;
        top: -65px;
        left: 12px;
    }

    .contentbackground p {
        column-count: 2;
    }
    


}

