@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
body {
    margin: 0px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 1.3px;
}

.background {
    position: fixed;
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
}

label {
    margin: 10px 30px;
    font-size: 25px;
    line-height: 55px;
    display: block;
    width: 30px;
    float: right;
}

#toggle {
    display: none;
}

#toggle:checked + ul {
    display: block;
}

.navbar {
    width: 100%;
}

.navbar a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    line-height: 36px;
}

.navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: none;
    clear:both;
}


.navbar li {
    box-shadow: 0 5px 19px -6px rgb(219, 219, 219);
}
.navbar li:last-child {
    box-shadow: none;
}

.imgcontainer{
    width: 100%;
    height: 100%;
    background-image: url(assets/img.jpg);
}

@media(min-width: 768px) {
    .container {
        background-color: dodgerblue;
        width: 750px;
        margin: 0px auto;
    }

    .navbar li {
        display: inline-block;
        border-bottom: none;
    }

    .navbar ul {
        text-align: right;
    }
}

@media(min-width: 992px) {
    .container {
        background-color: yellowgreen;
    }
}

